body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerCard{
  margin-bottom: 20px;
   
}
.cardImage{
  border-radius: 10px;
  width: 350px;
  height: 200px;
  box-shadow: 0px 0px 1px 1px #ccc;
}

.ImageProfile{
  padding-top: 10px;
  width: 100%;
  height: 100%; 
  box-shadow: 0px 0px 2px 2px #ccc;
}

.cardInfo{
  margin-top: 1px;
  min-height: 100px;
}

.cardTitle{
  font-size: 20px;
  margin: 0px;
}


.cardSubTitle{
  font-size: 14px;
  margin: 0px;
}

.brightness {
  background-color: white;
  display: inline-block;

}
.brightness img:hover {
  opacity: .5;
}

.successMessage{
  color: #4BB543;
  
}

.errorMessage{
  color:red;
}